<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transactions Summary</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="p-12">
    <div class="flex items-start justify-between">
      <svg
        width="160"
        height="40"
        viewBox="0 0 240 60"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="32.8937"
          y="3.53517"
          width="31.1962"
          height="42.1249"
          rx="5.5"
          transform="rotate(44.1819 32.8937 3.53517)"
          stroke="#2F2F2F"
          stroke-width="5"
        />
        <rect
          x="59.6943"
          y="3.53517"
          width="31.1962"
          height="42.1249"
          rx="5.5"
          transform="rotate(44.1819 59.6943 3.53517)"
          stroke="#FE5F28"
          stroke-width="5"
        />
        <path
          d="M101.442 45.5106V26.5929H98.2006V21.819H101.442V20.0205C101.442 15.3577 103.641 13.1817 109.28 13.1817C110.479 13.1817 111.834 13.3149 112.589 13.4703V17.7557C112.122 17.6669 111.479 17.6225 110.835 17.6225C108.703 17.6225 107.77 18.555 107.77 20.2425V21.819H112.5V26.5929H107.926V45.5106H101.442ZM116.03 45.5106V21.708H122.514V45.5106H116.03ZM119.272 19.0879C117.318 19.0879 115.808 17.6003 115.808 15.7351C115.808 13.8478 117.318 12.3823 119.272 12.3823C121.226 12.3823 122.736 13.8478 122.736 15.7351C122.736 17.6003 121.226 19.0879 119.272 19.0879ZM126.844 45.5106V21.708H133.105V25.9489H133.238C134.504 22.9958 137.013 21.2639 140.677 21.2639C145.961 21.2639 148.937 24.5945 148.937 30.1677V45.5106H142.453V31.5221C142.453 28.4136 140.988 26.6373 138.079 26.6373C135.17 26.6373 133.327 28.7688 133.327 31.8552V45.5106H126.844ZM174.671 21.708L166.5 45.5106H159.173L150.935 21.708H157.885L162.836 39.782H162.969L167.899 21.708H174.671ZM186.95 25.9933C184.108 25.9933 182.065 28.1471 181.843 31.1225H191.946C191.812 28.0805 189.836 25.9933 186.95 25.9933ZM192.034 38.2277H197.985C197.275 42.8906 193.011 46.0213 187.127 46.0213C179.8 46.0213 175.404 41.3363 175.404 33.7203C175.404 26.1266 179.844 21.1973 186.883 21.1973C193.811 21.1973 198.185 25.8823 198.185 33.1208V35.097H181.776V35.4966C181.776 38.8938 183.93 41.2253 187.238 41.2253C189.614 41.2253 191.435 40.0484 192.034 38.2277ZM201.138 28.7022C201.138 24.1726 205.068 21.1973 211.174 21.1973C217.147 21.1973 221.033 24.217 221.122 28.8355H215.149C215.016 26.9259 213.483 25.7491 211.085 25.7491C208.843 25.7491 207.377 26.7705 207.377 28.3026C207.377 29.4794 208.399 30.2787 210.486 30.7672L215.038 31.7442C219.812 32.81 221.743 34.6973 221.743 38.2499C221.743 42.935 217.436 46.0213 211.152 46.0213C204.802 46.0213 200.894 42.9572 200.539 38.3165H206.867C207.178 40.3149 208.754 41.4695 211.33 41.4695C213.794 41.4695 215.282 40.4925 215.282 38.9383C215.282 37.7392 214.483 37.0731 212.351 36.5624L207.955 35.5855C203.447 34.5641 201.138 32.2105 201.138 28.7022ZM226.717 16.2236H233.201V21.708H237.597V26.5929H233.201V37.9835C233.201 39.8042 234.089 40.6702 235.998 40.6702C236.576 40.6702 237.175 40.6258 237.575 40.5591V45.333C236.909 45.4884 235.798 45.5994 234.488 45.5994C228.893 45.5994 226.717 43.7343 226.717 39.0937V26.5929H223.364V21.708H226.717V16.2236Z"
          fill="#2F2F2F"
        />
      </svg>
      <span>{{date}}</span>
    </div>
    <div class="my-16 space-y-2">
      <div><span class="font-medium">Full name: </span>{{name}}</div>
      <div><span class="font-medium">Email: </span>{{email}}</div>
    </div>
    <div class="px-8 space-y-4">
      <h2 class="text-center text-xl font-semibold">Last month's list of
        transactions</h2>
      <table class="w-full text-sm text-left text-gray-500">
        <tr class="border-b border-t bg-gray-100">
          <th scope="col" class="px-6 py-3">Type</th>
          <th scope="col" class="px-6 py-3">Amount</th>
          <th scope="col" class="px-6 py-3">Date</th>
        </tr>
        {{#each transactions}}
          <tr class="border-b">
            <td class="px-6 py-4">{{type}}</td>
            <td class="px-6 py-4">{{amount}}</td>
            <td class="px-6 py-4">{{date}}</td>
          </tr>
        {{/each}}
        <tr class="border-b">
          <td colspan="2" class="px-6 py-4 font-semibold">Total</td>
          <td class="px-6 py-4">{{total}}</td>
        </tr>
      </table>
    </div>
  </body>

</html>